.prototype-banner {
    background-color: var(--ax-bg-warning-moderate);
    color: var(--ax-text-on-colored);
    text-align: center;
    padding: var(--ax-space-4) var(--ax-space-16);
    font-size: var(--ax-font-size-small);
    font-weight: 600;
}

.light .bg-brand-pink-soft {
    background-color: var(--arb-brand-pink-400);
}
.dark .bg-brand-pink-soft {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-green-subtle {
    background-color: var(--arb-brand-green-100);
}
.dark .bg-brand-green-subtle {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-green-soft {
    background-color: var(--arb-brand-green-200);
}
.dark .bg-brand-green-soft {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-green-moderate {
    background-color: var(--arb-brand-green-300);
}
.dark .bg-brand-green-moderate {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-blue-subtle {
    background-color: var(--arb-brand-blue-100);
}
.dark .bg-brand-blue-subtle {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-blue-soft {
    background-color: var(--arb-brand-blue-200);
}
.dark .bg-brand-blue-soft {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-peach-subtle {
    background-color: var(--arb-brand-peach-100);
}
.dark .bg-brand-peach-subtle {
    background-color: var(--ax-bg-raised);
}

.light .bg-brand-peach-soft {
    background-color: var(--arb-brand-peach-200);
}
.dark .bg-brand-peach-soft {
    background-color: var(--ax-bg-raised);
}
